<mat-card appearance="outlined">
  <mat-card-content>
  @switch (task.optionId) {
    @case ('3') {
      <mat-checkbox>
          <app-editable-field
            class="heading"
            [value]="task.title"
            [editing]="editingTitle"
            (valueChange)="onFieldChange('title', $event, task)"
            (editingChange)="editingTitle = $event">
          </app-editable-field>
      </mat-checkbox>
    }
    @case ('4') {
      <div class="trash">
        <app-editable-field
            class="heading"
            [value]="task.title"
            [editing]="editingTitle"
            (valueChange)="onFieldChange('title', $event, task)"
            (editingChange)="editingTitle = $event">
          </app-editable-field>
        <button
          mat-mini-fab
          aria-label="Delete icon"
          (click)="onDelete(task.id)"
          >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
    @default {
      <mat-checkbox>
        <app-editable-field
            class="heading"
            [value]="task.title"
            [editing]="editingTitle"
            (valueChange)="onFieldChange('title', $event, task)"
            (editingChange)="editingTitle = $event">
          </app-editable-field>
      </mat-checkbox>
    }
  }
  <!-- <time>{{ task.dueDate | date : "mediumDate" }}</time> -->
  <time>
    <app-editable-field
      [value]="task.dueDate"
      [editing]="editingDueDate"
      (valueChange)="onFieldChange('dueDate', $event, task)"
      (editingChange)="editingDueDate = $event">
    </app-editable-field>
  </time>
  <p>
    <app-editable-field
      [value]="task.summary"
      [editing]="editingSummary"
      (valueChange)="onFieldChange('summary', $event, task)"
      (editingChange)="editingSummary = $event">
    </app-editable-field>
  </p>
</mat-card-content>
</mat-card>
