<mat-card appearance="outlined">
  <mat-card-content>
  @switch (task.optionId) {
    @case ('3') {
      <mat-checkbox>
        <h2 class="done">{{ task.title }}</h2>
      </mat-checkbox>
    }
    @case ('4') {
      <div class="trash">
        <h2 class="done">{{ task.title }}</h2>
        <button
          mat-mini-fab
          aria-label="Delete icon"
          (click)="onDelete(task.id)"
          >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
    @default {
      <mat-checkbox>
        <h2>{{ task.title }}</h2>
      </mat-checkbox>
    }
  }
  <time>{{ task.dueDate | date : "mediumDate" }}</time>
  <p>{{ task.summary }}</p>
</mat-card-content>
</mat-card>
