@import "../../../styles/variables";

mat-card {
  margin-bottom: 0.7rem;
  background-color: $white-color;
  mat-card-content {
    time {
      display: block;
      padding: 0.4rem 0;
      text-transform: lowercase;
      font-style: italic;
      color: $tertiary;
    }
  }
  .done {
    color: $secondary-text-color;
    display: inline-block;
    text-decoration: line-through;
  }
  .trash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: initial;
      box-shadow: none;
    }
  }
}
