<mat-dialog-content>
  <h2 mat-dialog-title>Add new task</h2>
  <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
    <app-control label="Title">
      <input
        type="text"
        id="title"
        name="title"
        [(ngModel)]="enteredTitle"
        required
        #title="ngModel"
      />
      <app-error-message [control]="title" myRole="Title"/>
    </app-control>

    <app-control label="Summary">
      <textarea
        id="summary"
        rows="5"
        name="summary"
        [(ngModel)]="enteredSummary"
        required
        #summary="ngModel"
      ></textarea>
      <app-error-message [control]="summary" myRole="Summary"/>
    </app-control>

    <app-control label="Due Date">
      <input
        type="date"
        id="due date"
        name="due date"
        [(ngModel)]="enteredDate"
        required
        #dueDate="ngModel"
      />
      <app-error-message [control]="dueDate" myRole="Date"/>
    </app-control>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button (click)="onCancel()">Cancel</button>
  <button
    mat-stroked-button
    mat-dialog-close
    type="submit"
    [disabled]="taskForm.invalid"
    (click)="taskForm.ngSubmit.emit()"
  >
    Create
  </button>
</mat-dialog-actions>
